html {
  margin: 0; 
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin :0; 
  background: black;
}

.hidden {
  visibility : hidden;
}

#my-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
}

img {
  display: none;
}
